#jieall {
	font-family: "黑体";
	margin: auto;
	height: 2223px;
	width: 1270px;
}
#jieone {
	background-color: #FFF;
	margin: auto;
	height: 75px;
	width: 1270px;
	font-size: 16px;
}

#jiesecond {
	margin: auto;
	height: 325px;
	width: 1070px;
}
#jiethree {
	margin: auto;
	height: 600px;
	width: 1070px;
}
#jiefour {
	margin: auto;
	height: 1000px;
	width: 1070px;
}
#jiesix {
	margin: auto;
	height: 140px;
	width: 1270px;
}
