@charset "utf-8";
#xiangall {
	font-family: "黑体";
	margin: auto;
	height: 573
	0px;
	width: 1260px;
}
#xiangone {
	background-color: #FFF;
	margin: auto;
	height: 75px;
	width: 1260px;
}
#xiangsecond {
	margin: auto;
	height: 4820px;
	width: 1260px;
}
#xiangthree {
	margin: auto;
	height: 400px;
	width: 1270px;
}
#huifour {
	margin: auto;
	height: 150px;
	width: 1270px;
}
#xiang7 {
	margin: auto;
	height: 140px;
	width: 1270px;
	font-family: "黑体";
}
